/*
 	Primary Styles
    Author: QuartoEstudio.com
 */
.ht{
  text-indent:-9999px;
  overflow:hidden;
}

header {
  margin-bottom:50px;
}
header h1 {
  text-align: center;
  margin-top:54px;
  margin-bottom:25px;
}

#statistics {
  margin-bottom:8px;
}

#statistics {
  padding-top:5px;
  color: #545454;
}
#statistics	span {
  font-weight:bold;
  letter-spacing:.05em;
}
#now-serving {
  font-weight:lighter;
  letter-spacing:0;
}
#languages-number {
  color:#DD1152;
}
#packages-number {
  color:#2855B5;
}
#sentences-number {
  color:#E13220;
}

/*
 * Bootstrap customizations
 */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#wrap > .container {
  padding: 60px 15px 20px;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#results thead {
  background: rgba(255, 255, 255, 0.9);
}

.lead .pylyglot {
  font-weight:bold;
  color:#D9E021;
  letter-spacing:.05em;
}

/*
 * Chosen customizations
 */
#id_languages_chosen { width:160px !important; }

.chosen-container-single .chosen-single {
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px 0 0 5px;
}
