{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header">
      <h2>{% trans "About" %}</h2>
    </div>
    <p class="lead">
      <span class='pylyglot'>Pylyglot</span> {% trans "is a web based glossary compedium for Free and Open Source Software translators heavily inspired on the <a href='http://open-tran.eu'>Open-tran.eu</a> web site." %}
    </p>
    <p class="lead">{% trans "The main objective for <span class='pylyglot'>Pylyglot</span> is to <em>'provide a concise, yet comprehensive compilation of a body of knowledge'</em> for translators derived from existing Free and Open Source Software translations. The more data is added to the system, the more accurate and reliable the results will be!" %}</p>

    <div class="page-header">
      <h3>{% trans "Contribute" %}</h3>
    </div>
    <p>Fancy helping us improving the web site, our services or the algorythim used to power <span id="pylyglot">Pylyglot</span>? Here's how you can help us:</p>
    <p><strong>Write code, send in a patch, write tests!</strong></p>
    <p>The source code is currently available on <a href="http://github.com/omaciel/pylyglot">Github</a> and can be easily cloned:</p>
    <p><pre>git clone git://github.com/omaciel/pylyglot.git</pre></p>
    <p><strong>{% trans "Know a thing or two about database optimization or algorithms?" %}</strong></p>
    <p>{% trans "Do you enjoy optimizing database queries or writing code to do some serious data crunching? We need you!" %}</p>
    <p><strong>{% trans "Give the web site a facelift!" %}</strong></p>
    <p>{% trans "Are you a designer or just plain enjoy improving the look and feel of things? We can always use some css and template polishing! Make sure to clone the source code (see above) and let your imagination take over!" %}</p>

    <div class="page-header">
      <h3>{% trans "Credits" %}</h3>
    </div>
    <p>{% trans "In no particular order:" %}</p>
    <ul>
      <li>Jacek Śliwerski - {% trans "Creator of <a href='http://open-tran.eu'>Open-tran.eu</a>." %}</li>
      <li>Evandro Pastor - {% trans "Web designer from <a href='http://quartoestudio.com'>QuartoEstudio</a> and long time friend." %}</li>
      <li>Elyézer Rezende - {% trans "Hacker extraordinaire and long time friend." %}</li>
      <li>Taylon Silmer - {% trans "Django hacker and contributor." %}</li>
    </ul>
  </div>
</div><!-- /.row -->
{% endblock %}
