{% load tryinclude %}

<head>
    <meta charset="utf-8">
    <!--[if IE]><![endif]-->

    <link rel="canonical" href="http://pylyglot.org/"/>
    <meta name="description" content="Translation news & statistics made simple.">
    <meta name="keywords" content="translations, gnome">
    <title>{% block title %} Pylyglot {% endblock %}</title>
    <link title="Pylyglot" type="application/opensearchdescription+xml" rel="search" href="opensearch.xml">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.min.css?v=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen-bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=1">
    <link rel="stylesheet" media="handheld" href="{{ STATIC_URL }}css/handheld.css?v=1">
    <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/modernizr-1.5.min.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
    <script src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/pylyglot.js"></script>
    {% try_to_include "analytics.html" %}
</head>
