{% load i18n %}
{% load humanize %}

<footer id="footer">
  <div class="container">
    <div id="statistics" class="text-center">
    <span id="now-serving">{% trans "Now serving" %}</span>:
    <span id="languages-number">{% trans "Languages" %}: {{ total_languages }}</span> |
    <span id="packages-number">{% trans "Packages:" %} {{ total_packages }}</span> |
    <span id="sentences-number">{% trans "Translations:" %} {{ total_translations|intcomma }}</span>
    {% trans "and counting" %}
    </div>
    <div class="text-center text-muted">Pylyglot 2010-{% now "Y" %}. {% trans "All Rights Reserverd. Design by:" %} <a rel="nofollow" href="http://quartoestudio.com">QuartoEstudio.com</a></div>
  </div>
</footer>
