{% extends "base.html" %}

{% load i18n %}
{% load sortfilter %}

{% load pagination_tags %}

{% block search %}
{% include "search_form.html" %}
{% endblock %}

{% block content %}
<div id="main">
    {% if object_list %}
        <div class="package-result">
        {% autopaginate object_list  %}
        <h2><span>{% trans "Term:" %}</span> {{ query }} </h2>
        <table class="results">
            <thead>
                <tr>
                    <th>{% trans "Original" %}</th>
                    <th>{% trans "Translated" %}</th>
                    <th>{% trans "Packages" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for translation in object_list %}
                <tr class="translation">
                    <td class="translation.msgid">{{ translation.msgid }}</td>
                    <td class="translation.msgstr">{{ translation.msgstr }}</td>
                    <td class="package-list">
                        <ul>
                            {% for package in translation.packages %}
                            <li>{{ package }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% empty %}
                <tr><td>{% trans "Could not find any sentences with this term." %}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        {% paginate %}
        </div>
    {% else %}
    {% if is_searching %}
    <p style="text-align:center;">{% trans "No phrases were found that match your search term." %}</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.floatThead.min.js"></script>
<script type="text/javascript">
(function ($) {
    $('table.results').floatThead({
        scrollingTop: 50,
        useAbsolutePositioning: false
    });
})(jQuery);
</script>
{% endblock %}
