{% load sortfilter %}
{% block content %}
<div id="search-results">
    {% if object_list %}
        {% for object in object_list %}
        <p>Term: {{ object.term }}</p>
        <table id="translations">
            <tr>
                <th>Original</th>
                <th>Translated</th>
                <th>Score</th>
            </tr>
            {% for sentence in object.sentence_set.all|order_by:"length"|slice:":10" %}
                {% for translation in sentence.translations.all %}
                    {% ifequal translation.language.id|stringformat:"s" languageid %}
                    <tr>
                        <td>{{ sentence.msgid }}</td>
                        <td>{{ translation.msgstr }}</td>
                        <td>{{ sentence.length }}</td>
                    </tr>
                    {% endifequal %}
                {% empty %}
                    <tr><td>Could not find any sentences with this term.</td></tr>
                {% endfor %}
            {% endfor %}
        </table>
        {% endfor %}
    {% else %}
        <ul><li>No phrases were found that match your search term.</li></ul>
    {% endif %}
</div>
{% endblock %}
