{% load sortfilter %}
{% block content %}
<div id="search-results">
    {% if object_list %}
    <p>{% trans "The following {{ object_list.count }} term(s) matched your criteria:" %}</p>
        <table id="translations">
            <tr>
                <th>{% trans "Original" %}</th>
                <th>{% trans "Translated" %}</th>
                <th>{% trans "Score" %}</th>
            </tr>
            {% for object in object_list %}
                {% for sentence in object.sentence_set.all %}
                    <tr>
                        <td>{{ sentence.msgid }}</td>
                        <td>{{ object.msgstr }}</td>
                        <td>{{ sentence.length }}</td>
                    </tr>
                {% empty %}
                <tr><td>{% trans "Could not find any sentences with this term." %}</td></tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% else %}
    <p>{% trans "No phrases were found that match your search term." %}</p>
    {% endif %}
</div>
{% endblock %}
