{% extends "base.html" %}

{% load i18n %}
{% load sortfilter %}

{% block search %}
    {% include "search_form.html" %}
{% endblock %}

{% block content %}
<div id="main">
    <div class="package-result">
    {% if object_list %}
    <h2><span>{% trans "Term:" %}</span> {{ query }} </h2>
        <table class="results">
            <tbody>
            <tr>
                <th>{% trans "Original" %}</th>
                <th>{% trans "Translated" %}</th>
                <th>{% trans "Packages" %}</th>
            </tr>
            {% for translation in object_list %}
                <tr>
                    <td>{{ translation.msgid }}</td>
                    <td>{{ translation.msgstr }}</td>
                    <td>{{ translation.pcount }}</td>
                </tr>
            {% empty %}
                <tr><td>{% trans "Could not find any sentences with this term." %}</td></tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    {% else %}
        {% if is_searching %}
            <p style="text-align:center;">{% trans "No phrases were found that match your search term." %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
