{% extends "base.html" %}

{% load i18n %}
{% load sortfilter %}

{% block search %}
    {% include "search_form.html" %}
{% endblock %}

{% block content %}
<div id="main">
    <div class="package-result">
    {% if object_list %}
    <h2><span>{% trans "Term:" %}</span> {{ query }} </h2>
        <table class="results">
            <tbody>
            <tr>
                <th>{% trans "Original" %}</th>
                <th>{% trans "Translated" %}</th>
                <th>{% trans "Google Translation" %}</th>
                <th>{% trans "Packages" %}</th>
            </tr>
            {% for translation in object_list %}
            <tr class="translation">
                    <td class="translation-msgid">{{ translation.msgid }}</td>
                    <td>{{ translation.msgstr }}</td>
                    <td class="google-translation"><span class="translation-result"><a href="#">{% trans "Translate" %}</a></span></td>
                    <td>{{ translation.pcount }}</td>
                </tr>
            {% empty %}
                <tr><td>{% trans "Could not find any sentences with this term." %}</td></tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    {% else %}
        {% if is_searching %}
            <p style="text-align:center;">{% trans "No phrases were found that match your search term." %}</p>
        {% endif %}
    {% endif %}
</div>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("language", "1");

    function initialize() {
        $('.translation a').click(function (e) {
            var $translation = $(this).parent().parent().parent();
            var msgid = $translation.find('.translation-msgid').text();

            var language = '{{ short_name }}';
            if (language === 'pt_BR') language = 'pt';

            var $google_translation = $translation.find('.translation-result');

            $google_translation.text('{% trans "Loading..." %}');

            google.language.translate(msgid, 'en', language, function (result) {
                if (result.translation) {
                    console.log(result.translation);
                    $google_translation.text(result.translation);
                } else {
                    $google_translation.text('{% trans "Failed to translate" %}');
                }
            });

            e.preventDefault();
        });
    }

    google.setOnLoadCallback(initialize);
</script>
{% endblock %}
