{% extends "base.html" %}
{% load sortfilter %}

{% block content %}
<div id="main">
    <div class="package-result">
    {% if object_list %}
        {% for key, value in object_list.items %}
        <h2><span>Term:</span> {{ key }}</h2>
        <table class="results">
            <tbody>
            <tr>
                <th>Original</th>
                <th>Translated</th>
                <th>Package</th>
                <th>Latest Revision (UTC)</th>
            </tr>
            {% for translation in value %}
                {% for sentence in translation.sentence_set.all %}
                <tr>
                        <td>{{ sentence.msgid }}</td>
                        <td>{{ translation.msgstr }}</td>
                        <td>{{ translation.package.name }}</td>
                        <td>{{ translation.revisiondate|date:"DATETIME_FORMAT" }}</td>
                </tr>
                {% endfor %}
            {% empty %}
                <tr><td>Could not find any sentences with this term.</td></tr>
            {% endfor %}
        </tbody>
        </table>
        {% endfor %}
    </div>
    {% else %}
        <p style="text-align:center;">No phrases were found that match your search term.</p>
    {% endif %}
</div>
{% endblock %}
