{% load i18n %}
{% load tryinclude %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <link rel="canonical" href="http://pylyglot.org/"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="Translation news & statistics made simple.">
        <meta name="keywords" content="translations, gnome">
        <title>{% block title %} Pylyglot {% endblock %}</title>
        <link title="Pylyglot" type="application/opensearchdescription+xml" rel="search" href="opensearch.xml">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="#" />
        {% try_to_include "analytics.html" %}
    </head>
    <body>
        <div style="width:800px;margin:auto;text-align:center;">
            <a href="/">
                <img src="{{ MEDIA_URL }}images/logo.png" alt="Pylyglot - Translation news & statistics made simple." style="margin-top:20px;margin-bottom:30px;" border="0">
            </a>

            {% block content %}{% endblock %}

            <p id="nav">
                <a href="#">{% trans "About" %}</a> | 
                <a href="#">{% trans "How to use" %}</a> | 
                <a href="#">{% trans "Contact" %}</a>
            </p>
            <p id="credit">Pylyglot 2010. All Rights Reserved. Design: <a href="http://quartoestudio.com">QuartoEstudio.com</a></p>
        </div>

    </body>
</html>
