{% load sortfilter %}
{% if translations %}
<h1>Word: {{ query }}</h1>
    <table id="customers">
        <tr>
            <th>Original</th>
            <th>Translated</th>
            <th>Packages</th>
            <th>Score</th>
        </tr>
        {% for translation in translations %}
            {% for sentence in translation.sentence_set.all %}
                <tr>
                    <td>{{ sentence.msgid }}</td>
                    <td>{{ translation.msgstr }}</td>
                    <td>{{ sentence.packages.all|join:"<br /" }}</td>
                    <td>{{ sentence.length }}</td>
                </tr>
            {% endfor %}
        {% empty %}
            <tr><td>Could not find any sentences with this term.</td></tr>
        {% endfor %}
    </table>
{% else %}
  <p>No phrases were found that match your search term.</p>
{% endif %}
