{% load sortfilter %}
{% if words %}
  <ul class="words">
    {% for word in words %}
      <li>
        <strong>{{ word.term }}</strong>
        <ul>
            {% for sentence in word.sentence_set.all|order_by:"length" %}
            <li>
                {{ sentence.msgid }}<br />
                {{ sentence.msgstr }} (score: {{ sentence.length }})
            </li>
            {% empty %}
            <li>Could not find any sentences with this term.</li>
            {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No phrases were found that match your search term.</p>
{% endif %}
